{% extends "_base.html" %} {% import "bootstrap4/form.html" as wtf %} {% block
content %}

<script src="{{ url_for('static', filename='main.js') }}" defer></script>

<div class="body-content">
  <h1>Welcome, <em>{{ current_user.user_name }}</em>!</h1>
  <h3>This is the approval page.</h3>
  <p>Here you need to approve the weekly payment</p>

  <h4>Select a Week</h4>
  <form id="queryForm" method="GET" action="{{ url_for('user.approval') }}">
    <label for="weekPicker">Pick a Date:</label>
    <input type="date" id="weekPicker" />
    <input
      type="hidden"
      name="start_of_week"
      id="startOfWeek"
      value="{{ start_of_week }}"
    />
  </form>
  <div class="col-lg-4 col-sm-4">
    <p>
      This week starting on {{ this_week.date() }} <br />Selected week starting
      on {{ start_of_week.date() }}
    </p>
  </div>
  <h4 class="mt-4">Earnings this week</h4>
  <div class="col-lg-4 col-sm-4">
    <ul>
      {% for child_id, (child_name, total) in running_total.items() %}
      <li><b>Child:</b> {{ child_name }} = <b>Total:</b> ${{ total }}</li>
      {% endfor %}
    </ul>
  </div>
  <h4 class="mt-4">Approved</h4>
  <div class="col-lg-4 col-sm-4">
    <ul>
      {% for child_id, (child_name, approved_by, approved_on) in
      approved_this_week.items() %}
      <li>
        <b>Pocket money for:</b> {{ child_name }}<br /><b>Approved by:</b> {{
        approved_by }} {{ approved_on }}
      </li>
      {% endfor %}
    </ul>
  </div>
  <h4 class="mt-4">Pocket money approval</h4>
  <p>Select a child to approve</p>
  <form class="form" role="form" method="post" action="">
    {{ form.csrf_token }} {{ form.hidden_tag() }} {{
    wtf.render_hidden_errors(form) }}

    <div class="col-lg-4 col-sm-4">
      {{ wtf.render_field(form.child) }}

      <button class="btn btn-warning" type="submit">Approve allowance</button>
      <br /><br />
    </div>
  </form>
</div>
{% endblock %}
